* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.results-img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.results-img img {
  width: 100%;
  max-width: 250px;
  margin: 20px;
}
